In [50]:
print("Name : Arav Gupta")
print("We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph")
print("Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years")

Name : Arav Gupta
We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph
Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years

# Task 1 - Plot a line graph to show the difference between heart rate of smokers and non smokers

In [51]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt 
#read the csv
df = pd.read_csv('framingham.csv')
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [52]:
#Filter and make a new dataframe for non smokers
nonSmokers = df.loc[df['currentSmoker'] == 0]
nonSmokers

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,1,58,1.0,0,0.0,0.0,0,0,0,233.0,125.5,84.0,26.05,67.0,76.0,1
4228,0,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [53]:
#Group by age column and find average heart rate at different age
ageHR = nonSmokers.groupby('age')['heartRate'].mean().reset_index()
ageHR

    age  heartRate
0    33  76.000000
1    34  74.000000
2    35  74.789474
3    36  74.216216
4    37  76.027778
5    38  72.232143
6    39  76.239437
7    40  77.885714
8    41  73.083333
9    42  75.042857
10   43  75.050000
11   44  73.746032
12   45  77.333333
13   46  77.038961
14   47  75.173077
15   48  75.176471
16   49  73.868852
17   50  75.791045
18   51  74.200000
19   52  76.560440
20   53  77.125000
21   54  74.437500
22   55  74.305263
23   56  73.397059
24   57  74.027778
25   58  75.343750
26   59  74.197368
27   60  75.342857
28   61  73.770270
29   62  74.202899
30   63  75.129870
31   64  76.469697
32   65  74.200000
33   66  80.714286
34   67  73.448276
35   68  80.166667
36   69  80.500000
37   70  64.000000

In [54]:
#Filter and make a new dataframe for smokers
smokers = df.loc[df['currentSmoker'] == 1]
smokers

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0

In [55]:
#Group by age column and find average heart rate at different age
SageHR = smokers.groupby('age')['heartRate'].mean().reset_index()
SageHR

    age  heartRate
0    32  80.000000
1    33  75.000000
2    34  73.272727
3    35  72.956522
4    36  75.191489
5    37  74.410714
6    38  79.431818
7    39  75.755102
8    40  75.727273
9    41  78.019608
10   42  75.827273
11   43  79.151515
12   44  75.553398
13   45  75.364583
14   46  78.752381
15   47  76.775281
16   48  76.852273
17   49  76.647887
18   50  77.068493
19   51  77.315789
20   52  75.775862
21   53  77.474576
22   54  77.384615
23   55  76.220000
24   56  74.527273
25   57  77.039216
26   58  78.283019
27   59  75.604651
28   60  77.390244
29   61  76.555556
30   62  75.033333
31   63  72.303030
32   64  77.307692
33   65  75.500000
34   66  73.700000
35   67  81.375000
36   68  80.500000
37   69  72.333333

In [56]:
#Plot a line graph to show the heart rate of smokers vs non smokers
plt.

Conslusion -

# Task 2 - Which age group have high chances of having coronary heart disease in 10 years

In [57]:
#Read the csv

#Filter and make a new dataframe for those who has chances of having coronary heart disease in 10 years

In [58]:
#Group by age column and count the rows of TenYearCHD column

In [59]:
#Plot a line graph to show total number of people having a chance of coronary heart disease in 10 years

Conslusion -